In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('students_placement.csv')

In [22]:
df.shape

(300, 4)

In [23]:
df.sample(5)

     cgpa   iq  profile_score  placed
227  7.07   94             49       1
56   5.31  116             51       0
270  5.51  114             51       0
139  7.54   96             71       1
20   5.78  112             46       0

In [24]:
X = df.drop(columns=['placed'])
y = df['placed']

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.8833333333333333

In [27]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [28]:
import pickle
pickle.dump(knn,open('model.pk1','wb'))